*.pbix
*.pbit
*.pbids
*.pbiviz
*.tmp
*.bak
*.cache
*.pbix
*.pbit
*.pbids
*.pbiviz
*.tmp
*.bak
*.cache
*.pbix
*.pbit
*.pbids
*.pbiviz
*.tmp
*.bak
*.cache
*.pbix
*.pbit
*.pbids
*.pbiviz
*.tmp
*.bak
*.cache
*.pbix
*.pbit
*.pbids
*.pbiviz
*.tmp
*.bak
*.cache
